.container.ptb {
  padding-top: 10px;
  padding-bottom: 10px;
}
.queue {
  margin-top: 2px;
  background: black;
  border-top: 2px solid blue;
  white-space: nowrap;
  font-size: 0;
  height: 54px;
  overflow: hidden;
  .item {
    display: inline-block;
    background: black;
    padding: 6px;
    width: 90px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    transition-duration: .2s;
    transform: scaleX(1);
    transform-origin: left;
    &.active {
      background: blue;
    }
    &.done {
      padding-left: 0;
      padding-right: 0;
      width:0;
      transform: scaleX(0);
    }
  }
}

.logs {
  display: none;
}

.matchup {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: bold;
  .left,
  .right {
    background: black;
    color: #FFF;
    transform: skewX(-20deg);
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >* {
      transform: skewX(20deg);
    }
  }
  .left {
    border-bottom-left-radius: 18px;
    margin-left: 12px;
    margin-right: 6px;
    flex: 6 1 0;
    .outcomes {
      text-align: right;
      padding-right: 12px;
    }
    .picture {
      margin-left: -12px;
    }
  }
  .right {
    border-top-right-radius: 18px;
    margin-right: 12px;
    margin-left: 6px;
    flex: 5 1 0;
    text-align: right;
    .outcomes {
      padding-left: 12px;
      text-align: left;
    }
    .picture {
      margin-right: -12px;
    }
  }
  &.enemy {
    .left {
      flex: 5 1 0;
    }
    .right {
      flex: 6 1 0;
    }
  }
  .picture {
    height: 0;
    width: 32px;
    padding-top: 32px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid black;
    box-sizing: content-box;
    img {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .name {
    font-weight: bold;
    font-size: 18px;
    flex: 1 1 content;
    padding-left: 12px;
    padding-right: 12px;
  }
  .action {
    flex: 1 1 content;
    padding-left: 12px;
    padding-right: 12px;
  }
  .outcomes {
    font-size: 10px;
    flex: 1 1 0;
  }
}