.profile {
  background: #000;
  color: #FFF;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
  padding: 10px;
  position: relative;
  vertical-align: top;
  border-radius: 20px;
  text-align: left;
  width: 144px;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  top: 0;
  left: 0;
}

.profile.down {
  opacity: .5;
}

.profile .picture {
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.profile .picture::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(51, 51, 51, 0)));
  background: linear-gradient(0deg, black 0%, rgba(51, 51, 51, 0) 100%);
  z-index: 1;
}

.profile .picture img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.profile .name {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px -1px 2px black;
}

.profile .data {
  z-index: 2;
}

.profile .meter {
  position: relative;
  margin-top: 5px;
  text-shadow: 1px -1px 2px black;
}

.profile .meter .bar {
  background: #333;
  height: 12px;
  position: relative;
}

.profile .meter .bar .inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #4d4dff;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  z-index: 2;
}

.profile .meter .bar .inner.alt {
  background-color: red;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  z-index: 1;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.profile .meter .label,
.profile .meter .curmax {
  position: absolute;
  bottom: 0;
  z-index: 3;
  line-height: 1;
}

.profile .meter .label {
  left: 0;
}

.profile .meter .curmax {
  right: 0;
  font-weight: bold;
}

.profile .stat .label {
  display: inline-block;
  width: 60px;
  line-height: 1;
}

.profile .stat .num {
  display: inline-block;
  width: calc(100% - 60px);
  text-align: right;
}

.profile .stat .bonus.neg {
  color: #ff9494;
}

.profile .stat .bonus.pos {
  color: #50e0a4;
}

.profile .stat .bar {
  height: 12px;
  width: 6px;
  display: inline-block;
  background: #333;
  margin-left: 2px;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

.profile .stat .bar.filled {
  background: #4d4dff;
}

.profile .stat .bar.bonus {
  background: gold;
}

.profile .stat .bar.penalty {
  background: #690000;
}

.profile .equip {
  font-size: 12px;
  vertical-align: middle;
  margin-top: 4px;
  background: #333;
  border-radius: 10px;
  line-height: 1;
}

.profile .equip img {
  border: 1px solid #FFF;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 6px;
}

.profile .status .effect {
  background: #4d4dff;
  border-radius: 2px;
  display: inline-block;
  line-height: 1;
  font-size: 10px;
  padding: 1px 3px 2px;
  margin-top: 10px;
  margin-right: 2px;
}

.profile .status .effect.pos {
  background-color: #2e8b2e;
}

.profile .status .effect.neg {
  background-color: #8a2e2e;
}

.profile.hz {
  width: auto;
}

.profile.hz .picture {
  width: 124px;
  height: 124px;
  vertical-align: top;
  padding-top: 0;
}

.profile.hz .name,
.profile.hz .level {
  position: absolute;
  z-index: 3;
  left: 16px;
  top: 116px;
}

.profile.hz .name {
  top: 96px;
}

.profile.hz .data {
  display: inline-block;
  width: 120px;
  vertical-align: top;
  margin-left: 12px;
}

.profile.hz .loadout {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  margin-left: 12px;
}

.icon {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #FFF;
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center;
}

.icon.weapon {
  background-image: url("../images/sword.png");
}

.icon.armor {
  background-image: url("../images/armor.png");
}

.icon.attack {
  background-image: url("../images/arms.png");
}

.icon.magic {
  background-image: url("../images/magic.png");
}

.icon.reaction {
  background-image: url("../images/reaction.png");
}

.icon.passive {
  background-image: url("../images/passive.png");
}

.icon.support {
  background-image: url("../images/support.png");
}

.icon.hybrid {
  background-image: url("../images/hybrid.png");
}

.profile.ability-list {
  width: 500px;
}

.profile.ability-list .equip {
  font-size: 16px;
  padding-left: 40px;
  text-indent: -40px;
  padding-right: 10px;
  padding-bottom: 9px;
}

.profile.ability-list .equip .icon {
  height: 32px;
  width: 32px;
  margin-right: 6px;
}
/*# sourceMappingURL=profile.css.map */