@-webkit-keyframes sprite {
  from {
    background-position: 0px;
  }
  to {
    background-position: -48px;
  }
}

@keyframes sprite {
  from {
    background-position: 0px;
  }
  to {
    background-position: -48px;
  }
}

@-webkit-keyframes skill-left {
  0% {
    left: -100px;
  }
  100% {
    left: 4px;
  }
}

@keyframes skill-left {
  0% {
    left: -100px;
  }
  100% {
    left: 4px;
  }
}

@-webkit-keyframes skill-right {
  0% {
    right: -100px;
  }
  100% {
    right: 4px;
  }
}

@keyframes skill-right {
  0% {
    right: -100px;
  }
  100% {
    right: 4px;
  }
}

@-webkit-keyframes down {
  0% {
    opacity: 1;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  50% {
    opacity: 1;
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
  100% {
    opacity: 0;
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
}

@keyframes down {
  0% {
    opacity: 1;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  50% {
    opacity: 1;
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
  100% {
    opacity: 0;
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
}

.frame {
  width: 100%;
  height: 0;
  padding-top: 90%;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
}

.visualizer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 160px;
  height: 144px;
  margin-bottom: 144px;
  margin-left: auto;
  margin-right: auto;
  background: skyblue;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  overflow: hidden;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.visualizer .status {
  color: #FFF;
  font-weight: bold;
  background: blue;
  border: 1px solid #FFF;
  border-radius: 2px;
  font-size: 5px;
  text-align: left;
  width: 100%;
  height: 32px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 6;
}

.visualizer .status .allies,
.visualizer .status .enemies {
  position: absolute;
  top: -1px;
  border: 1px solid #FFF;
  border-radius: 1px;
  height: 32px;
}

.visualizer .status .allies {
  right: -1px;
  padding-left: 2px;
}

.visualizer .status .enemies {
  left: -1px;
  padding-right: 3px;
  padding-left: 3px;
}

.visualizer .status .enemies .unit .name {
  width: 40px;
}

.visualizer .status .unit .name {
  display: inline-block;
  width: 30px;
  text-transform: uppercase;
}

.visualizer .status .unit .name.active {
  color: gold;
}

.visualizer .status .unit .hp {
  display: inline-block;
  text-align: right;
  width: 14px;
}

.visualizer .status .unit .mhp {
  display: inline-block;
  text-align: left;
  width: 14px;
}

.visualizer .tap-msg,
.visualizer .final {
  color: #FFF;
  font-weight: bold;
  background: blue;
  border: 1px solid #FFF;
  border-radius: 2px;
  font-size: 6px;
  text-align: center;
  width: 40%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 6;
}

.visualizer .battlefield {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  background: url(../images/beach-bg.png);
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.visualizer .skill {
  color: #FFF;
  font-weight: bold;
  background: blue;
  border: 1px solid #FFF;
  border-radius: 2px;
  font-size: 6px;
  text-align: center;
  width: 40%;
  position: absolute;
  z-index: 4;
  top: 4px;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.visualizer .skill.left {
  left: -100px;
  -webkit-animation-name: skill-left;
          animation-name: skill-left;
}

.visualizer .skill.right {
  right: -100px;
  -webkit-animation-name: skill-right;
          animation-name: skill-right;
}

.visualizer .sprite {
  position: absolute;
  left: 30px;
  top: 0px;
  height: 24px;
  width: 24px;
  -webkit-transform: translate(-50%, 0%) scaleX(-1);
          transform: translate(-50%, 0%) scaleX(-1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  opacity: 1;
  z-index: 3;
}

.visualizer .sprite.down {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-name: down;
          animation-name: down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.visualizer .sprite .hp {
  position: absolute;
  left: 24px;
  bottom: 2px;
  width: 3px;
  height: calc(14px * 1);
  background-color: #ff5039;
}

.visualizer .sprite .hp::after {
  content: "";
  width: 3px;
  height: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: -1;
}

.visualizer .sprite .hp .num {
  display: inline-block;
  position: absolute;
  bottom: -2px;
  left: 1px;
  font-size: 4px;
  font-weight: bold;
  color: #FFF;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  display: none;
}

.visualizer .sprite .image {
  height: 100%;
  width: 100%;
  background-image: url("../images/hero-sprite.png");
  -webkit-animation-name: sprite;
          animation-name: sprite;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-timing-function: steps(2);
          animation-timing-function: steps(2);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.visualizer .sprite.saoirse .image {
  background-image: url("../images/saoirse2-sprite.png");
}

.visualizer .sprite.hanya .image {
  background-image: url("../images/hanya-sprite.png");
}

.visualizer .sprite.garven .image {
  background-image: url("../images/garven-sprite.png");
}

.visualizer .sprite.parzeval .image {
  background-image: url("../images/parzeval-sprite.png");
}

.visualizer .sprite.ichor .image {
  background-image: url("../images/slime-sprite.png");
}

.visualizer .sprite.oceanjellya .image,
.visualizer .sprite.oceanjellyb .image,
.visualizer .sprite.oceanjellyc .image {
  background-image: url("../images/slime2-sprite.png");
}

.visualizer .sprite.bonewraith .image {
  background-image: url("../images/skeleton-sprite.png");
}

.visualizer .sprite.mossfox .image {
  background-image: url("../images/fox2-sprite.png");
}

.visualizer .sprite.hit {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.visualizer .sprite.hit .image {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
  background-image: url("../images/hit-sprite.png");
}

.visualizer .sprite.right {
  left: auto;
  right: 30px;
  -webkit-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
}

.visualizer .sprite.right .hp {
  display: none;
}

.visualizer .sprite.active {
  left: 50px;
}

.visualizer .sprite.right.active {
  left: auto;
  right: 50px;
}

@-webkit-keyframes attack-left {
  0% {
    left: 50px;
    z-index: 1;
  }
  50% {
    left: 60px;
    z-index: 2;
  }
  100% {
    left: 50px;
    z-index: 1;
  }
}

@keyframes attack-left {
  0% {
    left: 50px;
    z-index: 1;
  }
  50% {
    left: 60px;
    z-index: 2;
  }
  100% {
    left: 50px;
    z-index: 1;
  }
}

@-webkit-keyframes attack-right {
  0% {
    right: 50px;
    z-index: 1;
  }
  50% {
    right: 60px;
    z-index: 2;
  }
  100% {
    right: 50px;
    z-index: 1;
  }
}

@keyframes attack-right {
  0% {
    right: 50px;
    z-index: 1;
  }
  50% {
    right: 60px;
    z-index: 2;
  }
  100% {
    right: 50px;
    z-index: 1;
  }
}

@-webkit-keyframes support {
  0% {
    bottom: 0px;
    z-index: 1;
  }
  20% {
    bottom: -10px;
    z-index: 2;
  }
  90% {
    bottom: 20px;
    z-index: 2;
  }
  100% {
    bottom: 0px;
    z-index: 1;
  }
}

@keyframes support {
  0% {
    bottom: 0px;
    z-index: 1;
  }
  20% {
    bottom: -10px;
    z-index: 2;
  }
  90% {
    bottom: 20px;
    z-index: 2;
  }
  100% {
    bottom: 0px;
    z-index: 1;
  }
}

.sprite.attack, .sprite.support, .sprite.counter {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
}

.sprite.attack.left, .sprite.counter.left {
  -webkit-animation-name: attack-left;
          animation-name: attack-left;
}

.sprite.attack.right, .sprite.counter.right {
  -webkit-animation-name: attack-right;
          animation-name: attack-right;
}

.sprite.support {
  -webkit-animation-name: support;
          animation-name: support;
}

@-webkit-keyframes pop {
  0% {
    top: 14px;
    opacity: 1;
  }
  10% {
    top: -12px;
  }
  20% {
    top: 14px;
  }
  25% {
    top: 0px;
  }
  30% {
    top: 14px;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 14px;
    opacity: 0;
  }
}

@keyframes pop {
  0% {
    top: 14px;
    opacity: 1;
  }
  10% {
    top: -12px;
  }
  20% {
    top: 14px;
  }
  25% {
    top: 0px;
  }
  30% {
    top: 14px;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 14px;
    opacity: 0;
  }
}

.pop-text {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 14px;
  -webkit-transform: translateX(-50%) scale(0.4);
          transform: translateX(-50%) scale(0.4);
  display: inline-block;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  -webkit-animation-name: pop;
          animation-name: pop;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  line-height: 1;
  -webkit-text-stroke: 1px black;
  paint-order: stroke fill;
  font-size: 18px;
  font-family: impact;
  text-shadow: 1px 1px 0 black;
}

.sprite.left .pop-text {
  -webkit-transform: translateX(-50%) scale(-0.4, 0.4);
          transform: translateX(-50%) scale(-0.4, 0.4);
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(18, 16, 16, 0)), color-stop(50%, rgba(0, 0, 0, 0.25))), -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.06)), color-stop(rgba(0, 255, 0, 0.02)), to(rgba(0, 0, 255, 0.06)));
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-animation: flicker 0.15s infinite;
          animation: flicker 0.15s infinite;
}

.autoadvance,
.deflicker {
  position: absolute;
  top: 4px;
  right: 12px;
  font-size: 12px;
  background: #333;
  border-radius: 10px;
  color: #FFF;
  text-decoration: none;
  padding: 2px 12px;
  z-index: 3;
  display: inline-block;
  cursor: pointer;
}

.autoadvance:hover,
.deflicker:hover {
  color: #FFF;
}

.autoadvance {
  right: auto;
  left: 12px;
}
/*# sourceMappingURL=sprite.css.map */