@-webkit-keyframes tap {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  90% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes tap {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  90% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#story {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

#story .start {
  background: radial-gradient(rgba(155, 155, 155, 0.8), rgba(0, 0, 0, 0.8));
  background-position: center;
  background-size: 100% 200%;
  width: calc(100% + 32px);
  padding: 12px;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  margin-left: -16px;
  margin-right: -16px;
}

.line {
  position: relative;
  clear: both;
  margin-top: 20px;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  scroll-margin: 20px;
}

.line:first-child {
  margin-top: 0;
}

.line.scene {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.line.expo {
  font-style: italic;
}

.line.expo i {
  font-style: normal;
}

.line.prompt {
  color: #da3c00;
  font-weight: bold;
  text-align: center;
}

.line.action {
  text-align: center;
  font-style: italic;
}

.line.dialog {
  background: #d4d4d4;
  border-radius: 10px;
  color: #333;
  margin-left: 10px;
  margin-right: 30px;
  margin-top: 30px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.line.dialog .smaller {
  font-size: 12px;
}

.line.dialog.rev {
  margin-right: 0;
  margin-left: 40px;
}

.line.dialog .speaker {
  font-weight: bold;
  background: #333;
  color: #FFF;
  display: inline-block;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: -10px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.line.dialog .speaker .image {
  height: 0;
  width: 40px;
  padding-top: 40px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: -10px;
}

.line.dialog .speaker .image img {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.line.dialog .speaker .name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
}

.line.dialog .text {
  padding: 25px 30px 10px 10px;
}

.line:not(.dialog):last-child {
  padding-bottom: 40px;
}

.line:last-child::after {
  font-style: normal;
  content: 'tap';
  position: absolute;
  bottom: 0px;
  right: calc(50% - 12px);
  z-index: 2;
  background: #333;
  color: #FFF;
  font-size: 10px;
  padding: 4px;
  border-radius: 50%;
  text-transform: uppercase;
  -webkit-animation: tap 2s;
          animation: tap 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.line.dialog:last-child::after {
  right: 5px;
  bottom: 5px;
}

.line.temp {
  height: 200px;
}

.line.temp span {
  -webkit-animation: spin 1s;
          animation: spin 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #333;
}

.line.vote .title {
  text-align: center;
  font-weight: bold;
  display: inline-block;
  background: #2421ff;
  color: #fff;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.line.vote .option {
  background: #d4d4d4;
  color: #000;
  padding: 4px 8px;
  border-radius: 20px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.line.vote .option .text,
.line.vote .option .num {
  z-index: 2;
  position: relative;
}

.line.vote .option .num {
  font-weight: bold;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #FFF;
  color: #000;
  border-radius: 50%;
  margin-right: 10px;
}

.line.vote .option .inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #adadc5;
  border-radius: 20px;
}

.line.break {
  border-top: 20px solid #333;
}

.music {
  text-align: center;
}

.music .inner {
  position: relative;
  display: inline-block;
  background: #333;
  color: #fff;
  border-radius: 10px;
  line-height: 10px;
  display: inline-block;
  overflow: hidden;
}

.music .title {
  padding: 3px 8px 4px;
  display: inline-block;
  margin-right: 40px;
  line-height: 1em;
}

.music .title .note {
  display: inline-block;
  background: url(../images/note.svg);
  height: 14px;
  width: 14px;
  margin-right: .5em;
  position: relative;
  top: 2px;
}

.music a {
  background: green;
  color: #fff;
  text-decoration: none;
  padding: 4px 8px;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 40px;
  right: 0;
  top: 0;
}

.music a:hover {
  background: gold;
}

.music a img {
  height: 13px;
  width: 13px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.next-nav {
  text-align: center;
  margin-top: 20px;
}

.next-nav a {
  font-weight: bold;
  background: #333;
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  padding: 4px 20px;
}

#pa-log {
  display: none;
}
/*# sourceMappingURL=story.css.map */