body {
  font-family: 'Titillium Web', sans-serif;
  background: #5a5a5a;
  color: #FFF;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1.title {
  text-indent: -9999px;
  position: absolute;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

.header,
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  background: #191919;
  position: relative;
  z-index: 2;
}

.header {
  border-bottom: 1px solid black;
}

.header .logo img {
  display: inline-block;
  height: 80px;
  width: auto;
}

.footer {
  -webkit-box-shadow: 0px -3px 5px black;
          box-shadow: 0px -3px 5px black;
  margin-top: auto;
  height: 80px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.menu a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #FFF;
}

.menu a:hover {
  color: gold;
}

.menu a.active {
  color: gold;
}

.menu a[disabled] {
  color: gray;
  cursor: not-allowed;
}

.menu a.twitter {
  background-image: url(../images/twitter.svg);
  display: block;
  height: 24px;
  width: 24px;
  background-size: contain;
  font-size: 0;
}

.menu.nav {
  background: #333;
}

.menu.pages a {
  margin-top: 10px;
  background: #333;
  padding: 6px 10px;
  border-radius: 10px;
}

.main-content {
  margin: 20px auto;
  padding: 12px;
  max-width: 450px;
  background: #FFF;
  color: #111;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.first-time {
  text-align: center;
  background: #333;
  padding: 8px 16px;
  font-size: 18px;
}

.first-time a {
  color: #FFF;
}

#system-log {
  padding-top: 20px;
  padding-bottom: 20px;
}

#system-log .item {
  position: relative;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: #FFF;
  color: #111;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  overflow: hidden;
}

#system-log .item .date {
  font-size: 12px;
}

#system-log .item.party, #system-log .item.system {
  background: #bbb;
  padding: 0;
}

#system-log .item.party .date,
#system-log .item.party .txt, #system-log .item.system .date,
#system-log .item.system .txt {
  padding: 0px 12px;
  line-height: 24px;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}

#system-log .item.party .date, #system-log .item.system .date {
  background: #666;
  color: #FFF;
}

#system-log .item.vote {
  border-left: 10px solid #1DA1F2;
}

#system-log .item.story {
  border-left: 10px solid purple;
  font-weight: bold;
}

#system-log .item.story a {
  position: relative;
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: inline-block;
  background: #333;
  color: #FFF;
  text-decoration: none;
  border-radius: 20px;
  padding: 4px 12px;
  font-weight: bold;
  font-size: 14px;
}

#system-log .item.story a:hover {
  color: gold;
}

#system-log .item + .item {
  margin-top: 10px;
}
/*# sourceMappingURL=theme.css.map */