@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes dodge {
  0% { transform: translateY(0px); }
  50% { transform: perspective(14cm) rotateY(25deg); }
  100% { transform: translateY(0px); }
}

@keyframes attack-a {
  0% { transform: translateY(0px); }
  60% { transform: translateY(-10px); }
  80% { transform: translateY(30px); }
  100% { transform: translateY(0px); }
}

@keyframes attack-b {
  0% { transform: translateY(0px); }
  60% { transform: translateY(10px); }
  80% { transform: translateY(-30px); }
  100% { transform: translateY(0px); }
}


.a-shake {
  animation: shake .3s;
  animation-iteration-count: 1;
}
.a-dodge {
  animation: dodge .3s;
  animation-iteration-count: 1;
}
.a-attack {
  animation: attack-a .45s;
  animation-iteration-count: 1;
}
#enemy-profiles .a-attack {
  animation: attack-b .45s;
}

body {
  background: url(./images/bg.png);
  font-family: 'Titillium Web', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#combat {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 620px;
  background: #FFF;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}

.profile {
  background: #000;
  color: #FFF;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
  padding: 10px;
  position: relative;
  vertical-align: top;
  border-radius: 20px;
  width: 144px;
}
.profile .picture {
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: -35px;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.profile .picture::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(51,51,51,0) 100%);
  z-index: 1;
}
.profile .picture img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.profile .data {
  position: relative;
  z-index: 2;
}
.profile .name {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px -1px 2px black;
}
.profile .meter {
  position: relative;
  margin-top: 5px;
  text-shadow: 1px -1px 2px black;
}
.profile .meter .bar {
  background: #333;
  height: 12px;
  position: relative;
}
.profile .meter .bar .inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(77, 77, 255);
  transition-duration: .2s;
  z-index: 2;
}
.profile .meter .bar .inner.alt {
  background-color:rgb(255, 0, 0);
  transition-duration: 1s;
  z-index: 1;
  transition-timing-function: ease-out;
}
.profile .meter .label,
.profile .meter .curmax {
  position: absolute;
  bottom: 0;
  z-index: 3;
  line-height: 1;
}
.profile .meter .label {
  left: 0;
}
.profile .meter .curmax {
  right: 0;
  font-weight: bold;
}
.profile .stat .label {
  display: inline-block;
  width: 60px;
  line-height: 1;
}
.profile .stat .bar {
  height: 12px;
  width: 6px;
  display: inline-block;
  background: #333;
  margin-left: 2px;
  transform: skewX(-20deg);
}
.profile .stat .bar.filled {
  background: rgb(77, 77, 255);
}
.profile .stat .bar.bonus {
  background: gold;
}
.profile .stat .bar.penalty {
  background: rgb(105, 0, 0);  
}
.profile .arms,
.profile .armor {
  font-size: 12px;
  vertical-align: middle;
  margin-top: 4px;
  background: #333;
  border-radius: 10px;
  line-height: 1;
}
.profile .arms img,
.profile .armor img {
  border: 1px solid #FFF;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 6px;
}
.profile .status {
  margin-top: 5px;
  border-top: 1px solid #777;
}
.profile .status .effect {
  background: rgb(77, 77, 255);
  border-radius: 2px;
  display: inline-block;
  line-height: 1;
  font-size: 10px;
  padding: 1px 3px 2px;
  margin-top: 5px;
  margin-right: 2px;
}
.profile .status .effect.pos {
  background-color: rgb(46, 139, 46);
}
.profile .status .effect.neg {
  background-color: rgb(138, 46, 46);
}

#enemy-profiles .profile::before {
  content: "Enemy";
  position: absolute;
  z-index: 1;
  text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black
  ;
  top: 10px;
  right: 18px;
  font-size: 10px;
  font-variant: small-caps;
}

#story {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 450px;
  background: #FFF;
}
#story .line {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
}
#story .line:first-child {
  margin-top: 0;
  padding-top: 20px;
}
#story .line.scene {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.pinned {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 412px) {
  #combat {
    padding: 4px;
  }
  .profile {
    width: 24%;
    padding: 4px 4px 14px;
    border-radius: 14px;
  }
  .profile .picture {
    margin-bottom: -15px;
  }
  .profile .data {
    font-size: .5rem;
  }
  .profile .name {
    font-size: .8rem;
  }
  .profile .arms,
  .profile .armor {
    font-size: .4rem;
  }
  .profile .arms img,
  .profile .armor img {
    height: 8px;
    width: 8px;
  }
  .profile .meter .bar {
    height: 6px;
  }
  .profile .stat .label {
    width: 30px;
  }
  .profile .stat .bar {
    height: 10px;
    width: 4px;
    margin-left: 1px;
    margin-top: 2px;
  }
  .profile .status .effect {
    font-size: .4rem;
  }
  #enemy-profiles .profile::before {
    top: 2px;
    right: 10px;
  }
}
